.navbar {
    margin: 0;
}

.cartItemCount {
    position: absolute;
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 10px;
    bottom: 6px;
    padding: 4px;

}

.count_cart {
    position: relative;
    color: white
}